div {
    margin: 10%;
    width: 70%;
    height: 160%;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px black;
}


    .body-element {
        display: inline-flex;
        margin-left: 5px;
    }

    #page-body {
        box-shadow : 0px 2px 2px 0px;
        width: 85%;
        height: 28em;
        margin-top: 3px;
        border-radius: 3px;
        margin-left: 30px;
    }
   
    ul {
        margin-left : 0px;
    }
    .main-bar {
        width : 100%;
        background-color : black;
        height : 80px;
        margin-top: 0px;
        color : white;
        position : relative;
        

    }
    .side-bar {
        width : 13.18%;
        margin-left:-5px;
        
    }

    li {
        display : flex;
        margin-top: 10px;
        border-bottom: 1px solid black;
        height : 30px;
        
    }


    li:hover {
        color : green;
        background-color: black;
        height : 30px;
    }
/* 
    @media  screen and (max-width : 1200px) {
        .side-bar {
            display : none;
        }

        #page-body {
            width: 95%;
            margin-left: 0px;
        }

        
    } */